::-webkit-scrollbar {
    display: none;
}

body {
    margin: 0%;
    padding: 0%;
    background-color: rgb(28, 34, 39);
    color: aliceblue;
    font-family: 'Segoe UI';
    user-select: none;
}

main {
    margin: auto;
    height: 93vh;
    width: 350px;
    background-color: rgb(255, 255, 255);
    border: 5px solid black;
    border-bottom: 20px solid black;
    border-radius: 20px 20px 15px 15px;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.loader {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    z-index: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;

}

.loader .branding {
    position: absolute;
    bottom: 100px;
    color: rgb(66, 66, 66);
    text-align: center;
    font-weight: 500;
}

.home-page {
    position: relative;
}

.home-page header {
    display: flex;
    background-color: white;
    flex-direction: row;
    place-items: center;
    place-content: space-between;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1;
}

.story-section {
    /* border: 1px solid black; */
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 1px;
}

.story-section .story {
    background: linear-gradient(45deg, yellow, rgb(216, 19, 19));
    border-radius: 50%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    place-content: center;
    align-items: center;
    margin: 3px;
    margin-bottom: 20px;
    position: relative;
}

.story-section .story img {
    margin: 3px;
    border: 3px solid white;
    border-radius: 50%;
}

.story-section .story label {
    width: 80px;
    color: black;
    font-size: 11px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    bottom: -15px;
}

.story-section .story .plus {
    position: absolute;
    bottom: 5px;
    right: 0;
}

.feed {
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 2px solid red; */
    color: rgb(27, 27, 27);
    font-size: 11pt;
}

.feed .post {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.feed .post .row-1,
.feed .post .row-3 {
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    place-content: space-between;
}

.post .row-4 {
    padding: 0% 10px;
}

.feed .post .row-1 .col-1,
.feed .post .row-1 .col-2,
.feed .post .row-3 .col-1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px
}

.feed .post .row-1 .col-1 img {
    border-radius: 50%;
}

.post .row-4 .comments {
    color: rgb(116, 113, 113);
}

.post .row-4 .comments .profile-pic {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.post .row-4 .comments .profile-pic img {
    border-radius: 50%;
}

main .navigations {
    width: 100%;
    height: 40px;
    background-color: rgb(255, 255, 255);
    position: sticky;
    bottom: 0px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: space-around;
}

img {
    cursor: pointer;
}

/* reel page css */
.reel-page {
    display: none;
    position: relative;
    scroll-snap-type: both mandatory;
    overflow-y: scroll;
    overflow-x: scroll;
    width: 100%;
    height: 90vh;
    text-shadow: 0px 0px 3px white;
    
}

.reel-page .camera {
    position: fixed;
    margin-left: 10px;
    margin-top: 10px;
    z-index: 3;
}

.reel-page>div {
    position: relative;
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    scroll-snap-align: start;
}

.reel-page div .aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    right: 10px;
    bottom: 100px;
}
.reel-page div .aside img{
    filter: drop-shadow(1px 1px 1px white);
}

.reel-page div .details {
    width: 80%;
    padding: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: absolute;
    bottom: 45px;
}

.reel-page div .details .user {
    display: flex;
    gap: 10px;

}

.reel-page div .details .user img {
    border-radius: 50%;
}
.reel-page div .details button{
    filter: drop-shadow(1px 1px 1px white);
    background: transparent;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
}

.reel-page div .details .description {
    text-wrap: wrap;
}
@media screen and (max-width:750px){
    main{
        width: 100%;
    }
    video{
        height: 100%;
        width: 100%;
    }
}
